{% extends "layouts/base.html" %}

{% block content %}

<h1>About</h1>

<p>Soy un ingeniero en sistema emocionado por aprender y comprometerse con nuevos desafios y retos, persona que busca mejorar diario, estudio, trabajo y entreno, me gusta ayudar a las personas que den lo mejor de si y que nunca se rindan, me gusta ver series, trabajar, entrenar duro como sayayin, enfoque personal, me gusta leer la biblia es muy bueno ese habito el mejor diria yo, jugar futbol es mi pasion amo mucho ese deporte, me gusta mucho mi carrera aunque aveces le da uno dolor de cabeza pero asi es la vida, no darse por vencido nunca y luchar por lo que uno quiere, ser el protagonista de mi historia, todo lo puedo en cristo que me fortalece, y recordar quien soy.</p>

<p>Website created by {{ username }}</p>

{% endblock %}